<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="shortcut icon" type="image" href="/logo/icon.png">
    <title><%=title%></title>
</head>
<body>
    <header>
        <%-include("../header")%>
    </header>
    <main class="main">
        <section class="profile-border">
            <div class="profile-img">
                <img src="/avatar/test.jpg" alt="">
            </div>
        </section>
        <section class="profile-details">
            <div class="details">
               
                    <div class = "blank">
                        <h1><%=name%></h1>
                    </div>
                    <div class = "blank">
                        <h1><%=email%></h1>
                    </div>
            </div>
        </section>
    </main>

    <footer>
        <%-include("../footer")%>
    </footer>
    <script>
        const head = document.getElementById("head");
	    const foot = document.getElementById("footer");
        (function headFoot(){
        foot.classList.add("footer");
	    head.classList.add("header");  
        return headFoot;  
        }());
    </script>

</body>
</html>