<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/css/wall.css">
    <title>
        <%= title %>
    </title>
    <%-include("../header.ejs")%>
        </header>
</head>
<body>
        <div class="main-page">
            <section class="left-panel">
                <div class="panel-options">
                    <div class="post-tag">
                        <a href="#"><i class="fas fa-sticky-note"><span> Posts</span></i></a>
                    </div>
                    <div class="photo-tag">
                        <a href="#"><i class="fas fa-camera-retro"></i><span> Photos</span></a>
                    </div>
                    <div class="video-tag">
                        <a href="#"><i class="fas fa-video"></i><span> Videos</span></a>
                    </div>
                    <!-- <div class="panel-options">
                        
                    </div> -->
                </div>
        </section>
        
        <main class="main-wall">
            <div class="new-post-main" id="new-post-main" style="display: none;">
                <div class="new-post-container">
                    <div class="new-post">
                        <textarea name="post" id="" cols="30" rows="10" maxlength="180"></textarea>
                    </div>
                    <br>
                    <button class="post-btn"><i class="far fa-plus-square"><span> Post</span></i></button>
                </div>
            </div>
            <div class="float">
                <button class="floating-btn" id="floating-btn"><i id="floating-btn-icon" class="fas fa-plus-circle"></i></button>
            </div>
            <div class="posts-container">
                <div class="post-avatar">
                    <img src="/avatar/test.jpg" alt="">
                </div>
                <div class="name-post">
                    <p><%=name%></p>
                </div>
                <div class="usermail">
                    <p><%=email%></p>
                </div>
            </div>
        </main>
        <section class="panel">
            <div class="right-panel">
            </div>
        </section>
        </div>
        <%-include("../footer.ejs")%> 
</body>
    <script src="/js/wall.js"></script>
    <script>
        const head = document.getElementById("head");
	    const foot = document.getElementById("footer");
        (function headFoot(){
        foot.classList.add("footer");
	    head.classList.add("header");  
        return headFoot;  
        }());
    </script>
</html>